  <div class="text-left mb-5 bg--overlay ">
    <div class="logo">
      <div class="logo-site">
        <img src='../../../assets/images/logo.png' width="100" height="100" alt="Logo du site" />
        <span>App</span> 
        <span>SMS</span> 
      </div>
      <img class="logo-po" src='../../../assets/images/logo-po.jpg' width="100" height="100" alt="Logo de polytech" />
    </div>  
    <h1>Welcome to AppSMS</h1>
    <br/>
    <p class="text-left mb-3">AppSMS is a web application made by students of 
                              the National Advanced School of Engineering of Yaounde. 
                              It allows you to send messages all over the cameroonian territory.</p>
      <div class="btn-sign">
        <a role="button" class="btn btn-primary" routerLink="/auth/signin">Sign in</a> 
        <a role="button" class="btn btn-primary" routerLink="/auth/signup">Sign up</a> 
      </div> 
  </div>