@import "../../styles.scss";

.bg--overlay {
  background: linear-gradient(rgba(2, 124, 247, 0.5),rgba(248, 125, 2, 0.5)), url("../../assets/images/person1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center 5px;
  opacity: 1;
  color: #fff;
  padding-top: 15px;
  padding-left: 50px;
  padding-right: 15px;
  height:100%;
  width: 100%;
  h1{
        font-size: xxx-large;
        font-family:'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #ffa500;
        padding-left: 8%;
    }
  p{
      font-size: 20px;
      width: 40%;
      padding-left: 8%;
      padding-top: 5%;
      padding-bottom: 5%;
  }

}

.btn-sign{
  padding-left: 20px;
  display: flex;
  gap: 40px;
  padding-left: 8%;
} 

.logo{
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
}
.logo-po{
  border-radius: 100%;
}
.logo-site{
  display: flex;
  align-items: center;
  color: blue;
  font-weight: bold;
  font-size: xx-large;
}
.logo-site span:last-child{
  color: #ffa500;
}