
 
  <title>Trouble Shooting</title>
  <link rel="stylesheet" type="text/css" href="register.component.css">


<body>

<form action="/action_page.php">

<h1>Problemes de Connexion?</h1>
<p style="text-align: center"> Changer Votre mot de passe est simple, entrer juste votre e-mail,appuyer le boutton suivant et suivez les instructions... 
</p>
<p style="text-align: center"><label for="Admail"> Adress E-amil</label></p>
<p style="text-align: center"><input type="email" id="Admail" name="Admail"> </p>
<input type="submit" value="Envoyer">
<input type="reset" value="Precedent">




</form>
        
      
        
   
       

      
