@import "../../../styles.scss";

.message{
    border: 1px solid #1bd91b;
    border-radius: 1em 1em 0em 1em;
    color: white;
    background: #1bd91b;
    text-align: justify;
    word-wrap:break-word;
    
}