<div class="compartiment">
    <nav>
            <img src="../../assets/user-profile-4255.png" alt="">
            <span>Stael TADONTSA</span>
        
        
        <ul>
            <div class="contacts">
                <img src="../../assets/contacts.png" alt="">
                <li><a href="">Contacts</a></li>
            </div> 
            <hr>

           <div class="contacts">
                <img src="../../assets/recherche.png" alt="">
                <li><a href="">Search</a></li>
           </div>
            
            <hr>
            <div class="contacts">
                <img src="../../assets/discussion.png" alt="">
                <li><a routerLink="/menu/conversations">Conversations</a></li>
            </div>
            <hr>
            <div class="contacts">
                <img src="../../assets/parametre.png" alt="">
                <li><a>Settings</a></li>
            </div>
            <hr>
            <div class="contacts">
                <img src="../../assets/deconnexion.png" alt="">
                <li><a>Log out</a></li>
            </div>
        </ul>
    </nav>

    <router-outlet></router-outlet>

</div>




