.compartiment{
    display: flex;
}

nav{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 200px;
    height: 46em;
    margin-right: 50px;
}


img{
    width: 80px;
}



ul li a{
    text-decoration: none;
    color: black;
}

ul li{
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    list-style-type: none;
}

ul li:hover{
    background-color: wheat;
}

ul {
    position: relative;
    right: 40px;
}

img{
    position: relative;
    left: 40px;
    margin-top: 10px;
}

span{
    margin-top: 10px;
    position: relative;
    left: 20px;
    margin-bottom: 40px;
}

.contacts{
    display: flex;
    align-items: center;
}

.contacts img{
    width: 40px;
    height: 40px;
    position: relative;
    left: 10px;
}

.contacts li {
    position: relative;
    top: 10px;
    margin-left: 10px;
}