<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 col-12 ">
                <div class="card shadow-lg px-5 pt-3 pb-5">
                    <div class="d-flex justify-content-center">
                        <div class="text-center"><img src="../../../assets/images/logo.png" id="logo" alt="Logo du site" /><p>AppSMS</p></div>
                    </div>
                    
                    <div class="card-body">
                        <h5 class="card-title text-center"> Get trouble when signing in ?</h5>
                        <p class="card-text text-justify">
                            You can easily reset your password. You first have to enter your mail.
                            Then press the button below and follow the instructions.
                            We will send you an email to reset your password in the next 2 minutes.
                             <i class="fa fa-weibo" aria-hidden="true"></i>
                        </p>
                        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-12 ">
                                    <div class="form-group">
                                        <input type="email" class="form-control" formControlName="email"  placeholder="Email address"  required>  
                                    </div>
                                </div> 
                            </div>
                            <div class="row">
                                <div class="col hidden-sm">
                                    <div>
                                        <a routerLink="/auth/signin" >Return to sign in</a>
                                    </div>
                                    <hr>
                                    <div>
                                        <button type="submit"
                                         class="btn btn-outline-success"
                                         [ngClass]="{'btn--disabled':forgotPasswordForm.invalid}">Reset password</button> 
                                    </div>
                                                                        
                                    
                                
                                </div>
                                
                            </div>                            
                        </form>  
                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</section>